.home-page {
    flex: 1 1;
    min-height: 0;
}

.home-page .banner {
    background: #5cb85c;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, .3), inset 0 -8px 8px -8px rgba(0, 0, 0, .3)
}

.home-page .banner p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300!important;
    margin-bottom: 0
}

.home-page .banner h1 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    font-weight: 700!important;
    text-align: center;
    font-size: 3.5rem;
    padding-bottom: .5rem
}

.home-page .feed-toggle {
    margin-bottom: -1px;
    position: sticky;
    top: 60px;
    background-color: #f6f8fa;
    z-index: 1;
}

.home-page .sidebar {
    padding: 5px 10px 10px;
    background: #f3f3f3;
    border-radius: 4px
}

.home-page .sidebar p {
    margin-bottom: .2rem
}

.article-preview {
    padding: 1.5rem 10px;
    background: #FFF;
    border-radius: 10px;
    margin-bottom: 10px;
}

.article-preview .article-meta {
    margin: 0 0 1rem
}

.article-preview .preview-link h1 {
    font-weight: 600!important;
    font-size: 1.5rem!important;
    margin-bottom: 3px
}

.article-preview .preview-link p {
    font-weight: 300;
    font-size: 24px;
    color: #999;
    margin-bottom: 15px;
    font-size: 1rem;
    line-height: 1.3rem
}

.article-preview .preview-link span {
    max-width: 30%;
    font-size: .8rem;
    font-weight: 300;
    color: #bbb;
    vertical-align: middle
}

.article-preview .preview-link ul {
    float: right;
    max-width: 50%;
    vertical-align: top
}

.article-preview .preview-link ul li {
    font-weight: 300;
    font-size: .8rem!important;
    padding-top: 0!important;
    padding-bottom: 0!important
}